{% extends 'base.html' %}
{% load bootstrap4 %} {% load static %}

{% block content %}
<div class="container my-2">
    <!-- flash messages -->
    {% if messages %}
    <div class="col-12">
        
        {% for msg in messages %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{msg.message}}
        </div>
        {% endfor %}
    
    </div>
  {% endif %}
  <div class="text-center">
    <h4>Add Bio</h4>
  </div>
   <form   method="post" enctype="multipart/form-data">
   {%csrf_token%}

   {% bootstrap_form form%}
   <input type="submit" class="btn btn-success btn-sm" value="Post">
 </form>
</div>
{% endblock %}