{%extends "base.html"%}
{% load bootstrap4 %}
{% load mathfilters %}
{% block content %}
{{block.super}}

<div class="container-fluid my-2">
   <div class="row">

        <!-- results -->
       
       <div class="col-md-8 offset-md-2">
                <div class="card mb-3" style="width: 100%;">
                    <a href="#" target="_blank">
                        <img class="img-fluid" src="{{project.image.url}}" alt="{{project.title}}">
                    </a>
                    <div class="card-body">
                        <h4>{{project.title | title}}</h4>
                        <p class="text-muted">
                            {{project.description}}
                        </p>
                        <p>
                            Project by: <strong>
                                {{ project.user}}
                            </strong>
                        </p>
                        <p>
                            <a href="{{ project.link }}" target="_blank">
                                link <i class="fas fa-link ml-1"></i>
                            </a>
                        </p>
                        <p>
                            <hr>
                            Overall Ratings(Out of 10): <br>
                            {% if project.review %}
                                Content - <strong>
                                
                                    {{project.review.content|div:project.review.count |floatformat:1 }}
                                </strong>, <br>
                                Design - <strong>
                                    {{ project.review.design|div:project.review.count |floatformat:1 }}
                                </strong> , <br>
                                Usability - <strong>
                                    {{ project.review.usability|div:project.review.count |floatformat:1 }}
                                </strong>
                            {%else%}
                                Content - <strong>
                                    
                                    None
                                </strong>, <br>
                                Design - <strong>
                                    None
                                </strong> , <br>
                                Usability - <strong>
                                    None
                                </strong>
                            {%endif%}
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="m-1">
                                 <a class="btn btn-sm btn-outline-info" href="{% url 'addreview' project.id%}" target="_blank">
                                     Rate/Review
                                 </a>
                        </div>
                   </div>
            </div>
            
       </div>
      
   </div>
</div>
<!-- copyrights -->
<div class="mt-1 text-center">
    <small class="text-center">
    Copyright © 2021 Awards Inc. All Rights Reserved
    </small>
</div>
{% endblock %}
